.categories {
  max-width: 850px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px auto;
  flex-direction: column;
}

.categories form {
  width: 290px;
  margin-bottom: 20px;
}

.categories label {
  display: block;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.categories input,
.categories .category-btn {
  height: 35px;
  border: none;
  outline: none;
  border-bottom: 1px solid #555;
}

.categories input {
  width: 210px;
}

.categories .category-btn {
  width: 70px;
  background: #555;
  color: white;
  margin-left: 10px;
}

.categories .row {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  margin: 5px;
}
.categories .row p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list_categories {
  display: grid;
  /* grid-template-columns: 25% 25% 25% 25%; */
  grid-template-columns: 33% 33% 33%;
}
